<div class="container">
  <div class="text-center">
    <h1>Hi there, today is the <%= Date.today %></h1>
    <ul class="list-unstyled">
      <% %w(ERB Middlman SCSS Amalia).each do |tech| %>
      <li>We are playing with <%= tech %></li>
      <% end %>
    </ul>
  </div>
</div>

